*{
  margin: 0;
}
header{
  justify-content: center;
} 
.categorias{
  display: inline-flex;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}
p{
font-size:xx-large;
font: optional;
color: chocolate;
}
footer {
  bottom: 0;
  background-color: white;
  color: black;
  width: 100%;
  height: 40px;    
  text-align: center;
  line-height: 40px;
}